.form-inline.clearfix
 .nested-fields
  .form-group
   = f.input :step , input_html: { class: "form-iput form-control"}
  .form-group
   = link_to_remove_association "Remove", f, class: "btn btn-default"
    