
%h2 This is the placeholder for the Recepies#Index
-@recipies.each do |recipe|
  %h2= link_to recipe.title, recipe
  = link_to "back", root_path, class: "btn btn-default"
  = link_to "Edit", edit_recipe_path(recipe), class: "btn btn-default"
  = link_to "destroy", recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"

